<%- include("header"); -%>
<h2>This is about page.</h2>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti excepturi
  quod iure error dolorem fuga tenetur, deserunt totam eos esse. Repudiandae
  deserunt magni dolore unde explicabo corporis non facilis deleniti!
</p>
<%- include("footer"); -%>
